extends layout

block content   
  script.
    $(document).ready(function(){
      console.log('masternodes table');
      var ctable = $('#masternodes-table').dataTable( {
        autoWidth: true,
        searching: true,
        ordering: true,
        responsive: true,
        lengthChange: true,
        processing: false,
        bPaginate: false,
        pageLength: 25,
        order: [[ 3, "desc" ]],
        ajax: {
          url: '/ext/masternodes',
          dataSrc: function ( json ) {
            for ( var i=0;i<json.data.length; i++ ) {
              json.data[i]['address'] = "<a href='/address/" + json.data[i]['address'] + "'>" + json.data[i]['address'] + "</a>";
              json.data[i]['lastseen'] = new Date((json.data[i]['lastseen']) * 1000).toLocaleString();
              try {
                if (json.data[i]['lastpaid'] && json.data[i]['lastpaid'] != "0")
                  json.data[i]['lastpaid'] = new Date((json.data[i]['lastpaid']) * 1000).toLocaleString();
                else
                  json.data[i]['lastpaid'] = '<em>not available</em>';
              }
              catch(err) {
                  json.data[i]['lastpaid'] = '<em>not available</em>';
              }
            }
            return json.data;
          }
        },
        columns: [
          { data: 'address', width: '20%', className: 'text-left' },
          { data: 'status', width: '20%' },
          { data: 'lastseen', width:'20%' },
          { data: 'lastpaid', width:'20%' },
          { data: 'ip', width:'10%', className: 'text-right' },
      ]
      });
    });
    
  .container 
      h1.mt-4.mb-3#bread-text
        span.grey The
        | Masternodes 
      .row
        br
      .col-md-12(style="margin-bottom: 4%")
        .panel.panel-default
          .panel-heading.panel-dashboard
            .header-tile.panel-section
              .tile-label
                | Masternode collateral
                span.tile-label-value 2000 VLS
            .header-tile.panel-section
              .tile-label
                | Masternode reward
                span.tile-label-value 9%
            .header-tile.panel-section
              .tile-label
                | Masternode ROI
                span.tile-label-value 44%
            .header-tile.panel-section
              .tile-label
                | Masternode count
                span.tile-label-value 190  
          table#masternodes-table.table.table-bordered.table-striped
            thead
              tr
                th #{settings.locale.mn_address}
                th.text-center #{settings.locale.mn_status}
                th.text-center #{settings.locale.mn_lastseen}
                th.text-center #{settings.locale.mn_lastpaid}
                th. #{settings.locale.mn_ip}
            tbody.text-center
