extends layout

block content   
  script.
    $(document).ready(function(){
      var ctable = $('#connections-table').dataTable( {  
        autoWidth: true,      
        searching: true,
        ordering: false,
        responsive: true,
        lengthChange: true,
        processing: true,
        ajax: {
          url: '/ext/connections',
          dataSrc: function ( json ) {
            /*for ( var i=0;i<json.data.length; i++ ) {
              json.data[i]['timestamp'] = new Date((json.data[i]['timestamp']) * 1000).toUTCString();
              json.data[i]['txid'] = "<a href='/tx/" + json.data[i]['txid'] + "'>" + json.data[i]['txid'] + "</a>";
              json.data[i]['blockindex'] = "<a href='/block/" + json.data[i]['blockhash'] + "'>" + json.data[i]['blockindex'] + "</a>";
              var amount = json.data[i]['total'] / 100000000;
              json.data[i]['total'] = amount.toFixed(8);
              json.data[i]['recipients'] = json.data[i]['vout'].length;
            }*/
            return json.data;
          }
        },
        columns: [
          { data: 'address', width: '25%' },
          { data: 'protocol', width: '25%' },
          { data: 'version', width:'25%' },
          { data: 'country', width: '25%'}
        ]
      });
    });
  .col-md-10(style="margin-bottom: 4%")
    .row.text-center(style='margin-bottom:15px;')
      font(color='white') #{settings.locale.net_warning}
    .panel.panel-default
      .panel-heading
        strong WAVI Network
      table#connections-table.table.table-bordered.table-striped
        thead
          tr
            th.text-center #{settings.locale.net_address}
            th.text-center #{settings.locale.net_protocol}
            th.text-center #{settings.locale.net_subversion}
            th.text-center #{settings.locale.net_country}
        tbody.text-center
  .col-md-2(style="margin-bottom: 4%")
    .row.text-center(style='margin-bottom:15px;')
      font(color='white') Nodes for your wavi.conf
    .panel.panel-default
      .panel-heading
        strong WAVI Nodes
      .panel-body
        p
          | addnode=47.75.54.241
          br
          | addnode=45.63.97.20
          br
          | addnode=80.211.53.98
          br
          | addnode=109.95.53.26
          br
          | addnode=80.211.41.91
          br
          | addnode=89.40.15.139
          br
          | addnode=85.255.11.14
          br
          | addnode=149.28.74.86
          br
          | addnode=66.42.87.167
          br
          | addnode=178.63.62.81
          br
          | addnode=80.211.214.7
          br
          | addnode=35.188.19.42
          br
          | addnode=89.40.11.157
          br
          | addnode=45.76.81.139
          br
          | addnode=72.64.230.57
          br
          | addnode=80.211.41.58
          br
          | addnode=139.99.41.60
        p
          font(color='green') Note: you can find the nearest nodes using the search bar in the table on the left. Just type your country.
